.zhibo {
  background: white;
}
.zhibo .bai {
  height: 1rem;
  width: 100%;
  padding: 1rem;
  padding-left: 5rem;
  color: rgb(123, 123, 123);
}
.zhibo .box {
  width: 92%;
  height: 15rem;
  /* margin: 0 auto; */
  background-repeat: no-repeat;
  background-image: url("https://s11.mogucdn.com/mlcdn/c45406/180827_3eagg7kg2cha6bb5iag9egaj7jg70_1618x1080.jpg_750x500.jpg");
  background-size: 100% auto;
  border-radius: 0.5rem;
  margin-left: 0.9rem;
  margin-top: 0.4rem;
}
.zhibo .box2 {
  width: 92%;
  height: 15rem;
  /* margin: 0 auto; */
  background-repeat: no-repeat;
  background-image: url("https://s5.mogucdn.com/mlcdn/c45406/190529_0hc3bk18fible6a0ljbbj0hghb2d5_1404x800.jpg_750x500.jpg");
  background-size: 100% auto;
  border-radius: 0.5rem;
  margin-left: 0.9rem;
  margin-top: 0.4rem;
}
.zhibo .box3 {
  width: 92%;
  height: 15rem;
  /* margin: 0 auto; */
  background-repeat: no-repeat;
  background-image: url("https://s11.mogucdn.com/mlcdn/c45406/180821_7b93lgj58ie38hbhk225l2k4h13fb_1404x800.jpg_750x500.jpg");
  background-size: 100% auto;
  margin-left: 0.9rem;
  margin-top: 0.4rem;
}

.zhibo img {
  width: 100%;
  height: 50px;
}
.zhibo .zb {
  position: relative;
  width: 6rem;
  top: 3rem;
  left: 1rem;
  color: white;
  font-size: 14px;
  background: black;
  opacity: 0.5;
  border-radius: 0.1rem;
}
.zhibo .pp {
  position: relative;
  top: 3rem;
  left: 1rem;
  color: white;
  font-size: 14px;
}
.zhibo .sbox {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-image: url("https://s11.mogucdn.com/mlcdn/c45406/210105_8chi46jedfjd8hfdl4ceg2kckbd4g_800x800.jpg_100x100.jpg");
  background-size: 100% auto;
  margin-left: 2rem;
  margin-top: 4rem;
}
.zhibo .ssbox {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-image: url("https://s5.mogucdn.com/mlcdn/c45406/201202_8eie633e367715391ei584be8ekg6_720x960.jpg_100x100.jpg");
  background-size: 100% auto;
  margin-left: 6rem;
  margin-top: -3rem;
}
.zhibo .sssbox {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-image: url("https://s5.mogucdn.com/mlcdn/c45406/191105_055582e28ki8h066430i4ddbdi16l_640x1000.jpg_100x100.jpg");
  background-size: 100% auto;
  margin-left: 10rem;
  margin-top: -3rem;
}
.zhibo .ppp {
  color: white;
  position: relative;
  bottom: -1.5rem;
}
.zhibo .tx {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-image: url("https://s5.mogucdn.com/mlcdn/c45406/200726_5858akd2lcb66e8ffh308b343fkeg_400x400.jpg_100x100.jpg");
  background-size: 100% auto;
  border-radius: 50%;
  position: relative;
  top: -2rem;
}
